@keyframes logoAnimation {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}


#logo {
    animation: logoAnimation 5s;
}

body {
    font-family: 'Poppins', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.nav_links a:visited{
    color: blue;
}

.card>header {
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 0px;
}

.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    width: 450px;
    align-content:center;
    /* justify-content: center; */
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery>img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    justify-content: center;
}


@media screen and (min-width: 900px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links, .pricing {
        flex-direction: row;
    }

    .card {
        width: 275px;
    }

    body>header{
        position: fixed;
        top: 0;
        width: 100%;
    }

    .about {
        padding-top: 100px;
    }
}


@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}


@media print and (orientation: portrait) {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    nav {
        width: 75%;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .pricing {
        flex-direction: row;
        align-items: flex-end;
    }

    .card {
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }

    .gallery {
        display: none;
    }

    #gallery {
        visibility: hidden;
    }

    .card>ul>li:nth-child(2)::after {
        content: '\1F44D';
        margin-right: 5px;
    }
}